---
import Layout from '../layouts/Layout.astro';
import TopBar from '../sections/TopBar.astro';
import Hero from '../sections/Hero.astro';
import Manifesto from '../sections/Manifesto.astro';
import Works from '../sections/Works.astro';
import Capabilities from '../sections/Capabilities.astro';
import Correspond from '../sections/Correspond.astro';
import Colophon from '../sections/Colophon.astro';
---

<Layout>
  <TopBar />
  <main>
    <Hero />
    <Manifesto />
    <Works />
    <Capabilities />
    <Correspond />
  </main>
  <Colophon />
</Layout>
